.titleField {
  width: 100%;
  margin-bottom: 10px;

  &:before,
  &:after {
    display: none !important;
  }

  input {
    font-size: 36px !important;
    font-weight: 700 !important;
  }
}

.tagsField {
  width: 100%;
  margin-bottom: 10px;

  &:before,
  &:after {
    display: none !important;
  }

  input {
    font-size: 26px !important;
    font-weight: 700 !important;
  }
}

.conainerWrite {
  margin: auto;
}

.editor {
  font-size: 18px;
  height: auto;
}

.addPostButton {
  z-index: 100;
}

.categoryForm {
  display: flex;
  align-items: center;
}
