.tagsText,
.categoryText {
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;

  display: flex;
  align-items: flex-start;
}

.categoryText {
  margin-left: 2%;
}

.tagsText {
  margin-left: 20%;
}
