.ulContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 5;
  list-style: none;
  padding: 0;
  margin: 0;
}

.iconText {
  font-size: 15px;
  margin-left: 5px;
}
