.plassButton {
  font-size: 20px;
  color: aqua;
}

.categoryField {
  width: 50%;
  margin: 0 auto;

  &:before,
  &:after {
    display: none !important;
  }

  input {
    font-size: 16px !important;
    font-weight: 700 !important;
  }
}
