@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2 !important;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &--full {
    max-width: 1000px;
    display: block !important;
  }
}

.wrapper {
  display: flex;
  padding: 0 30px;
  padding-top: 80px;
}

.main-layout-white {
  background-color: #fff;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 680px;
}

.postContainer {
  display: flex;
}

.tabsContainer {
  display: flex;
  align-items: baseline;
}

.tagContainer,
.categoryContainer {
  background-color: #fff;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  /* flex-direction: row; */
  position: absolute;
  top: 120px;
  margin: 0;
  padding: 1.5em 1em 1em;
  border-radius: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
  z-index: 999;
  width: 14%;
  flex-wrap: wrap;
}

.tagContainer {
  left: 359px;
}

.categoryContainer {
  left: 480px;
}

.contentNone {
  display: none;
}

.tagContainer li,
.categoryContainer li {
  font-weight: 500;
  font-size: 1.1rem;
  margin-right: 0.25em !important;
  padding: 0.2em 0.3em;
  background: #e9e8e8;
  border-radius: 0.5em;
  text-transform: lowercase;
  margin: 0 0 0.5em;
  /* width: auto; */
  list-style: none;
}
