.root {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #e2ffe7 !important;
  padding: 0 35px 0 10px;
  height: 60px;
  margin-bottom: 14px;
  z-index: 1;
}

.logo {
  width: 32px;
  height: 42px;
  margin-right: 25px;
  margin-left: 10px;
}

.avatar {
  margin-left: 15px;
  border-radius: 20% !important;
  margin-right: 6px;
}

.penButton {
  min-width: 40px !important;
  text-transform: inherit !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;
}

.searchBlockPopup {
  position: absolute !important;
  top: 60px;
  width: 310px;
}

.searchBlock {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  width: 310px;

  svg {
    position: absolute;
    top: 8px;
    left: 10px;
    opacity: 0.3;
  }

  input {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 16px;
    padding-left: 40px;
    transition: all 0.1s ease-in-out;
    border: 1px solid transparent;

    &:hover,
    &:focus {
      background-color: #fff;
      border-color: darken(#fff4e2, 15%);
      box-shadow: 0 0 0 3px rgb(229 160 64 / 12%);
    }
  }
}

.loginButton {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 15px;

  svg {
    margin-right: 10px;
  }

  &:hover {
    color: #29b241;
  }
}
